/* 
heading 1 color and header and main content background: 
#ffffff;
headings 2 and 3 color and heading 1 background and 
footer border and button color: #4aaaa5;
header, h2 and h3 border color: #cccccc;
main content border color: #dddddd;
footer background: #666666;
font color: #777777;
heading font-family: 'Georgia', Times, Times New Roman, serif;
other font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
*/

/* Global Styles */

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

a:hover {
    opacity: 0.5;
}

/* Header Style */

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

h1 {
    color: #ffffff;
    background-color:#4aaaa5; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

nav {
    margin-top: 15px;
    margin-bottom: 0;
}

/* Main Styles */

main {
    /* Background pattern from Subtle Patterns */
    background-image: url("../images/dust_scratches.png");
}

.main_content {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2, h3 {
    color: #4aaaa5; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 20px 0 20px;
}

h2 {
    font-size: 25px;
    border-bottom: 3px solid #cccccc;
}

h3 {
    font-size: 23px;
    border-bottom: 1px solid #cccccc;
}

h4 {
    color: #ffffff;
    background-color:#4aaaa5; 
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2%;
}

section {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

.content {
    margin: 25px 20px 30px;
    overflow: auto;
}

.me {
    float: left;
    margin-right: 20px;
}

section p {
    line-height: 2.0;
    font-size: 16px;
}

label {
    display: block;
    margin: 0;
    font-weight: normal;
}

input[type=text], input[type=email], textarea {
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0px 15px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 10px 30px;
}

section a {
    float: left;
    margin-bottom: 50px;
    width: 45%;
}

section a:nth-child(even) {
    float: right;
}

section a:last-child {
    margin-bottom: 0;
}

section a div {
    width: 100%;
    position: relative;
}

section a img {
    width: 100%;
}

aside {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}

aside ul {
    margin-top: 20px;
    margin-bottom: 30px;
}

aside img {
    width: 60px;
}

/* Footer Styles */

footer {
    border-top: 6px solid #4aaaa5;
    background-color: #666666;
    padding-top: 35px;
    padding-bottom: 35px;
}

@media screen and (max-width: 550px) {
    h4 {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  }